{{/* layouts/partials/head.html - Advanced SEO Optimized */}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{{/* Title with site branding */}}
{{ if .IsHome }}
<title>{{ .Site.Title }}</title>
{{ else }}
<title>{{ .Title }} | Khaled HAMIDI KENO</title>
{{ end }}

{{/* Canonical URL - Critical for SEO */}}
<link rel="canonical" href="{{ .Permalink }}">

{{/* Alternate language versions */}}
{{ range .Translations }}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
{{ end }}
<link rel="alternate" hreflang="x-default" href="{{ .Permalink }}">

{{/* Standard SEO meta tags */}}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.marketing.seo.description }}{{ end }}{{ end }}">
<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ else }}{{ with .Site.Params.keywords }}{{ delimit . ", " }}{{ end }}{{ end }}">
<meta name="author" content="Khaled HAMIDI KENO">
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="googlebot" content="index, follow">

{{/* Determine Open Graph and Twitter images */}}
{{- $og_image := "" -}}
{{- $twitter_image := "" -}}
{{- $page_resources := .Resources.ByType "image" -}}
{{- $featured_image := $page_resources.GetMatch "{*feature*,*cover*}" -}}
{{- if $featured_image -}}
  {{- $og_image = $featured_image.Permalink -}}
  {{- $twitter_image = $featured_image.Permalink -}}
{{- else -}}
  {{- with .Params.image -}}
    {{- $og_image = . | absURL -}}
    {{- $twitter_image = . | absURL -}}
  {{- else -}}
    {{- $og_image = absURL "media/images/og-default.jpg" -}}
    {{- $twitter_image = absURL "media/images/og-default.jpg" -}}
  {{- end -}}
{{- end -}}

{{/* Open Graph / Facebook meta tags */}}
<meta property="og:site_name" content="Khaled HAMIDI KENO">
<meta property="og:locale" content="{{ .Lang }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.marketing.seo.description }}{{ end }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $og_image }}">
{{ if .IsPage }}
<meta property="article:author" content="Khaled HAMIDI KENO">
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{ with .Lastmod }}<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ end }}
{{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">{{ end }}
{{ end }}

{{/* Twitter Card meta tags */}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.marketing.seo.description }}{{ end }}{{ end }}">
<meta name="twitter:image" content="{{ $twitter_image }}">
<meta name="twitter:site" content="@{{ .Site.Params.marketing.seo.twitter }}">
<meta name="twitter:creator" content="@{{ .Site.Params.marketing.seo.twitter }}">

{{/* Additional SEO signals */}}
<meta name="theme-color" content="#0077b6">
<meta name="msapplication-TileColor" content="#0077b6">

{{/* Preconnect to external resources for performance */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

{{/* Include the custom SEO schema */}}
{{ partial "components/seo_schema.html" . }}

{{/* Hugo Generator meta tag */}}
{{ hugo.Generator }}

{{/* Future Theme - Custom CSS */}}
<link rel="stylesheet" href="/css/future-theme.css">

{{/* Future Effects - Custom JS */}}
<script src="/js/future-effects.js" defer></script>
<script src="/js/language-chooser.js" defer></script>
<script src="/js/sound-effects.js" defer></script>

